$primary-color: #4e5255;
$secondary-color: #63b8ff;
$p-fonts: 'Titillium Web','Helvetica Neue','Helvetica','Arial',sans-serif;

@mixin fading_welcome {
    display: inline;
    position: absolute;
    top: 70px;
    font-size: 20px;
    font-size: 2.8vw;
}

@mixin fading_swelcome {
    top: 90px;
    font-size: 20px;
    font-size: 6vw;
}

@mixin my_buttons {
    padding: 8px 0;
    margin: 5px 10px;
    font-size: .8em;
    text-transform: uppercase;
    border-radius: 4px;
    letter-spacing: .4px;
    display: inline;
    background-color: #eaedf1;
    color: $primary-color;
}

@mixin phone_buttons {
    padding: 4px 6px;
    margin: 0 10px;
    font-size: .6em;
    text-transform: uppercase;
    border-radius: 4px;
    letter-spacing: .4px;
    display: inline;
    background-color: #eaedf1;
    color: $primary-color;
}

@mixin phone_questions {
    margin: 20px 5px;
    font-size: .6em;
    text-transform: uppercase;
    border-radius: 4px;
    letter-spacing: .4px;
    display: block;
    background-color: #eaedf1;
    color: $primary-color;
}

html {
	background: #fafafa;
    height: 100%;
}

body {
    color: $primary-color;
    margin: 0;
    height: 100%;
}

header {
    height: 60px;
    width: 100%;
    background-color: #fff;
    padding-top: 10px;
}

@media (max-width:640px) {

  header {
    height: 100px;
    margin-top: -20px;
  }

}

a {
	text-decoration: none;
	color: $primary-color;
    padding: 8px 12px;
}

#root {
    margin: 0;
}

.score-cont {
    float: right;
    width: 25%;
}

.player-score {
    display: inline;
}

@media (max-width:640px) {

    .score-cont {
        float: right;
        width: 100%;
    }

    .player-score {
        display: block;
    }
}

.container {	
    text-align: center;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    list-style: none;
    padding: 8px 12px;
}

/************************
        HEADER
************************/

.my-title {
    color: $secondary-color;
    display: inline;
    margin: 20px 0 0 50px;
}

.my-title:hover {
    color: darken($secondary-color, 20%);
}

.page-title {
    text-align: center;
    display: inline;
    width: 20%;
    margin-left: 25%;
}

.main-nav {
    text-align: center; 
    list-style-type: none;
    padding-left: 0;
    margin-right: 100px;
    float: right;
}

@media (max-width:640px) {

    .my-title {
        text-align: center;
        display: block;
        margin-left: 0;
        margin-top: 10px;
    }

    .main-nav {
        list-style-type: none;
        padding-left: 0;
        margin-right: 0;
        margin-top: 5px;
        float: none;
    }

    .page-title {
        display: none;
    }
}

.nav-btn {
    @include my_buttons;
}

.nav-btn:hover {
    background-color: lighten( $secondary-color, 20%); 
}

.nav-btn .active {
    background-color: $secondary-color;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    margin: 0 -12px;
}

.btn:hover a {
    color: #fff;
}

.btn {
     @include my_buttons;
    text-decoration: none;
    padding: 8px 10px;
}

.btn:hover {
    background-color: $secondary-color;
}

.active {
 	color: $secondary-color;
}

@media (max-width:640px) {

    .btn {
        @include phone_buttons;
    } 

    .nav-btn {
        @include phone_buttons;
    }

    .nav-btn .active {
        padding: 4px 6px;
    }
} 

/************************
      WELCOME
************************/

.welcome-cont {
    display: block;
    height: 100px;
}

.true {
    @include fading_welcome;
    left: 37%;
}

.true2 {
    @include fading_welcome;
    left: 44%;
}

.true3 {
    @include fading_welcome;
    left: 50%;
}

@media (max-width:640px) {

    .true {
        left: 22%;
        @include fading_swelcome;
    }

    .true2 {
        left: 38%;
        @include fading_swelcome;
    }

    .true3 {
        left: 53%;
        @include fading_swelcome;
    }
}

.welcome-img-cont {
    height: 300px;
    width: 100%;
    margin: 0 auto;
}

.welcome-col {
    display: inline;
    float: left;
    width: 30%;
    margin: 10px 1.5%;
    font-size: 30px;
    font-weight: 600;

    a {
        color: $secondary-color;
    }

    a:hover {
        color: darken($secondary-color, 20%);
    }
}

.welcome-img {
    width: 100%;
    margin-top: 15px;
}

.welcome-content-cont {
    width: 80%;
    max-width: 700px;
    height: 300px;
    margin: 0 auto;
    margin-top: 50px;

    p {
        font-family: $p-fonts;
        text-align: left;
        font-size: 20px;
    }

    a {
        color: $secondary-color;
    }

    a:hover {
        color: darken($secondary-color, 20%);
    }
}

@media (max-width:640px) {

    .welcome-cont {
        height: 40px;
    }

    .welcome-img-cont {
        height: 100px;
    }

    .welcome-col {
        font-size: 20px;
    }

    .welcome-content-cont {
        height: 400px;
        p {
            font-size: 16px;
        }
    }
}

/************************
     TRIVIA BODY
************************/

.body-head {
    height: 50px;
    padding-top: 10px;
}

.stopwatch-time {
    font-size: 30px;
    color: $secondary-color;
}

.rules-container {
    width: 100%;
    padding-top: 40px;
}

.rules-cont {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.rules-title {
    text-align: center;
    color: $secondary-color;
    margin-top: 10px;
}

.rules-list {
    font-family: $p-fonts;
    font-size: 20px;
    line-height: 165%;
}

.rules {
    list-style-type: decimal;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $secondary-color;
    margin: 1em 0;
    padding: 0; 
}

.start-btn {
    @include my_buttons;
    text-decoration: none;
    padding: 8px 10px;
}

@media (max-width:640px) {

    .body-head {
        width: 40%;
        display: inline;
        float: left;
        padding: 0;
    } 

    .rules-cont {
        width: 80%;
    }

    .score-cont {
        width: 100%;
    }

    .player-score {
        font-size: 20px;
        margin: 10px 0 10px 10px;
    }

    .stopwatch-time {
        font-size: 20px;
        display: inline-block;
        width: 40%;
        padding-top: 10px;
    }

    .start-btn {
        @include phone_buttons;
        padding: 6px 10px;
        margin-top: 10px;
    }
}

/************************
      QUESTIONS
************************/

.list-cont {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:640px) {
    .list-cont {
        width: 80%;
    }
}

.question-cont {
    margin-top: 40px;
    text-align: center;
}

.questions {
    font-family: $p-fonts;
    font-size: 20px;
    text-align: center;
}

.question {
    @include my_buttons;
    background-color: $secondary-color;
    color: #fff;
    padding: 0;
}

.question:hover {
    background-color: #00ff00;
    background-color: #fff;
    color: #4e5255;
    color: $secondary-color;
}

.expire-cont {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-family: $p-fonts;
    font-size: 16px;
    line-height: 165%;
}

@media (max-width:640px) {
    .question {
        @include phone_questions;
        background-color: $secondary-color;
        color: #fff;
    }

    .expire-cont {
        width: 300px;

        p {
            font-size: 20px;
        }
    }
}

.places-list-cont {
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;

    .questions {
        text-align: center;
    }

    .question-cont {
        text-align: center;
        margin-top: 40px;
    }
}

.question-img {
    width: 75%;
    margin: 0 auto 20px auto;
}

@media (max-width:640px) {
    .places-list-cont {

        .questions {
            text-align: left;
        }

        .question {
            display: inline;
            margin: 5px;
        }
    }

    .questions {
        font-size: 20px;
        text-align: left;
    }

    .question-img {
        width: 100%;
        margin: 0;
    }
}

/************************
        FOOTER
************************/

.footer {
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    height: 60px;
    width: 100%;

    p {
        margin: 0 0 10px 50px;
        padding-top: 20px;
    }

    a {
        color: $secondary-color;
    }

    a:hover {
        color: darken($secondary-color, 20%);
    }
}

/************************
      ANIMATIONS
************************/

.green-score {
    color: green;
}

.red-score {
    color: red;
}

.message-clicked-green {
    animation: clicked-keyframes 1s;
    color: green;
}

.message-clicked-red {
    animation: clicked-keyframes 1s;
    color: red;
}

.message-clicked-blue {
    animation: clicked-keyframes 3s;
    color: blue;
}

@keyframes clicked-keyframes {
    from {opacity: 0.01}
    to {opacity: 1}
}

.example-appear {
    opacity: 0.01;
}

.example-appear.example-appear-active {
    opacity: 1;
    transition: opacity 2s ease-in;
}

.example-leave {
    opacity: 1;
}

.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 1s ease-in;
}
