html {
	background: #fafafa;
}

body {
}

a {
	text-decoration: none;
	color: #4e5255;
}

#root {
	color: #4e5255;
	
}

.container {	
  text-align: center;
}

.my-title {
	color: blue;
  display: inline;
  margin-left: 50px;
}

.page-title {
	text-align: center;
}

.main-nav {
	text-align: center; 
  list-style-type: none;
  padding-left: 0;
  margin-right: 100px;
  float: right;
}

.btn {
  padding: 8px 12px;
  margin: 0 10px;
  font-size: .8em;
  text-transform: uppercase;
  border-radius: 4px;
  letter-spacing: .4px;
  display: inline;
  background-color: #eaedf1;
  color: #4e5255;
    /*
    -webkit-transform: none;
    -ms-transform: none;

    transform: none;*/
    text-decoration: none;

}

.active {
 	color: red;
}
